
        @font-face {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 100;
          src: local('Roboto Thin'), local('Roboto-Thin'), url('../assets/roboto.woff2') format('woff2');
          unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
        }
        
        
        body {
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 100;
        }
        div.bg {
            position: fixed !important;
            z-index: 1 !important;
            top: 0 !important;
            left: 0 !important;
            width:100% !important;
            height:100% !important;
            color: white;
        }
        .infront {
            z-index: 2;
        }
        .full-width {
            width:100%;
        }
        .bg input {
            text-align: center;
            line-height: 2em;
            margin: 10px;
            margin: 0;
            color: black !important;
            font-weight: bold;
        }
        .form {
            text-align: center;
        }
        a.text-element:hover, a:hover {
            text-decoration: none !important;
        }
    
        .body-initial {
            background-color: rgba(47,49,53,1); 
        }
        .background-initial {
            background-color: transparent; 
            top: 5px; 
            left: 372px; 
            width: 740px; 
            min-height: 1996px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.background-initial {
            top: 60px; 
            left: 12px; 
            width: 445px; 
            min-height: 2705px; 
        }
        }.silex-id-1469893525931-1 {
            min-height: 39px; 
            width: 200px; 
            top: 31px; 
            left: 0px; 
        }
        .silex-id-1469893548417-2 {
            min-height: 277px; 
            width: 596px; 
            top: 125px; 
            left: 73px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1469893548417-2 {
            top: 39px; 
            left: 11px; 
            width: 423px; 
            min-height: 415px; 
        }
        }.silex-id-1469893808923-3 {
            min-height: 66px; 
            width: 375px; 
            top: 447px; 
            left: 181px; 
            background-color: rgba(224,129,27,1); 
            border-radius: 9px 9px 9px 9px ; 
        }
        .silex-id-1469896592825-17 {
            min-height: 50px; 
            width: 202px; 
            top: 1877px; 
            left: 266px; 
            background-color: transparent; 
        }
        .silex-id-1469896372056-15 {
            width: 100%; 
            top: 1465px; 
            left: 0px; 
            min-height: 20px; 
        }
        .silex-id-1469896372062-16 {
            min-height: 66px; 
            width: 375px; 
            top: 1746px; 
            left: 180px; 
            background-color: rgba(224,129,27,1); 
            border-radius: 9px 9px 9px 9px ; 
        }
        .silex-id-1469897150424-18 {
            min-height: 50px; 
            width: 202px; 
            top: 541px; 
            left: 274px; 
            background-color: transparent; 
        }
        .silex-id-1469897339494-19 {
            min-height: 718px; 
            width: 740px; 
            top: 645px; 
            left: 1px; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1469897339494-19 {
            background-color: rgba(255,255,255,1); 
            top: 908px; 
            left: 11px; 
            width: 423px; 
            min-height: 1392px; 
        }
        }.silex-id-1469894859389-7 {
            min-height: 67px; 
            width: 530px; 
            top: 16px; 
            left: 100px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1469894859389-7 {
            top: 16px; 
            left: 11px; 
            width: 401px; 
            min-height: 92px; 
            background-color: transparent; 
        }
        }.silex-id-1469894583314-6 {
            width: 370px; 
            top: 120px; 
            left: 0px; 
            min-height: -251px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1469894583314-6 {
            background-color: transparent; 
        }
        }.silex-id-1469895777706-9 {
            min-height: 183px; 
            width: 326px; 
            top: 201px; 
            left: 23px; 
            background-color: transparent; 
            background-image: url('../assets/visualisation.png'); 
            background-size: cover; 
            border-width: 5px 5px 5px 5px ; 
            border-style: solid; 
            border-radius: 5px 5px 5px 5px ; 
        }
        .silex-id-1469895402198-1 {
            width: 370px; 
            top: 120px; 
            left: 370px; 
            min-height: -268px; 
        }
        .silex-id-1469895833485-10 {
            min-height: 183px; 
            width: 326px; 
            top: 201px; 
            left: 393px; 
            background-color: transparent; 
            background-image: url('../assets/courrier.jpg'); 
            background-size: cover; 
            border-width: 5px 5px 5px 5px ; 
            border-style: solid; 
            border-radius: 5px 5px 5px 5px ; 
        }
        .silex-id-1469895954540-13 {
            width: 370px; 
            top: 421px; 
            left: 0px; 
            min-height: -251px; 
        }
        .silex-id-1469895863834-11 {
            min-height: 183px; 
            width: 326px; 
            top: 503px; 
            left: 23px; 
            background-color: transparent; 
            background-image: url('../assets/donneesperso.png'); 
            background-size: cover; 
            border-width: 5px 5px 5px 5px ; 
            border-style: solid; 
            border-radius: 5px 5px 5px 5px ; 
        }
        .silex-id-1469895954542-14 {
            width: 370px; 
            top: 421px; 
            left: 370px; 
            min-height: -268px; 
        }
        .silex-id-1469895863841-12 {
            min-height: 183px; 
            width: 326px; 
            top: 503px; 
            left: 393px; 
            background-color: transparent; 
            background-image: url('../assets/actualisation.jpg'); 
            background-size: cover; 
            border-width: 5px 5px 5px 5px ; 
            border-style: solid; 
            border-radius: 5px 5px 5px 5px ; 
        }
        .silex-id-1442914589168-2 {
            min-height: 127px; 
            width: 400px; 
            top: 2031px; 
            left: 542px; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1442914589168-2 {
            top: 2440px; 
            left: 35px; 
            width: 400px; 
            min-height: 84px; 
        }
        }.silex-id-1442914737143-3 {
            min-height: 34px; 
            width: 300px; 
            top: 13px; 
            left: 54px; 
        }
        .silex-id-1469894491244-5 {
            width: 100%; 
            top: 613px; 
            left: 0px; 
            min-height: 782px; 
            background-color: rgba(249,249,249,1); 
            border-style: solid; 
        }
        .silex-id-1469912353006-0 {
            min-height: 100px; 
            width: 100px; 
            top: 290px; 
            left: 52px; 
            background-color: rgba(0,0,0,0.8627450980392157); 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1469912353006-0 {
            top: 2909px; 
            left: 12px; 
            width: 445px; 
            min-height: 741px; 
            background-color: rgba(0,0,0,1); 
        }
        }.silex-id-1469913739161-2 {
            min-height: 711px; 
            width: 428px; 
            top: 0px; 
            left: 318px; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1469913739161-2 {
            top: 0px; 
            left: 11px; 
        }
        }.silex-id-1469915144561-4 {
            min-height: 27px; 
            width: 26px; 
            top: 84px; 
            left: 393px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1469915144561-4 {
            top: 11px; 
            left: 11px; 
            width: 402px; 
            min-height: 27px; 
        }
        }.silex-id-1469913980941-3 {
            min-height: 664px; 
            width: 417px; 
            top: 107px; 
            left: 5px; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1469913980941-3 {
            top: 35px; 
            left: 11px; 
            width: 402px; 
            min-height: 591px; 
        }
        }
    